.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 100vh; 
  background-color: #e8f7e5; 
}

.login-container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px; 
}

.vertical-divider {
  border-left: 2px dashed #27BF08;
  height: 400px; 
  margin: 0 20px;
}

.login-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.register-link {
  font-size: 14px;
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-image .login-img {
  max-width: 500px; /* Tamaño máximo de la imagen */
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .vertical-divider,
  .login-image {
    display: none; /* Oculta la línea vertical y la imagen en pantallas pequeñas */
  }
}
