.menu {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #27bf08;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 50px);
  max-width: 1000px;
  flex-wrap: wrap;
}

.menu-item {
  margin: 0 10px;
  text-decoration: none; /* Quitar subrayado de todos los enlaces */
}

.menu-item.logout {
  margin-left: auto;
}

.menu-item.logout button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-decoration: underline; /* Subrayado solo en hover */
}

.menu-item.logout button:hover {
  color: #0056b3;
}

.menu-item.logout button[disabled] {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none; /* Quitar subrayado cuando está deshabilitado */
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    margin: 5px 0;
    text-decoration: none; /* Quitar subrayado en dispositivos móviles */
  }

  .menu-item.logout {
    margin-left: 0;
  }
}
